{% extends 'base.html.twig' %}

{% block title %}Request index{% endblock %}

{% block body %}
    <h1>Request index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberOfDays</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>Comment</th>
                <th>CreatedDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for request in requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.numberOfDays }}</td>
                <td>{{ request.startDate ? request.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ request.endDate ? request.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.comment }}</td>
                <td>{{ request.createdDate ? request.createdDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_request_show', {'id': request.id}) }}">show</a>
                    <a href="{{ path('app_request_edit', {'id': request.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_request_new') }}">Create new</a>
{% endblock %}
