{% extends 'base.html.twig' %}

{% block title %}Edit Employee{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h1>Edit Employee</h1>

        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.job) }} 

        <button type="submit">Edit Employee</button>
    {{ form_end(form) }}
{% endblock %}
