{% extends 'base.html.twig' %}

{% block title %}Add New Employee{% endblock %}

{% block body %}
    <h1>Add New Employee</h1>

    {{ form_start(form) }}
        {{ form_row(form.role) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.profilePicture) }} 
        {{ form_row(form.birthDate) }}
        {{ form_row(form.vacationDays) }}
        {{ form_row(form.job) }} 
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <button type="submit">Add Employee</button>
    {{ form_end(form) }}
{% endblock %}
